// footer.scss

@import "../../utils/utils";

.footer {
  width: 100%;
}

.footer .navbar{
  margin: 40px 0 0 0;
}

.navbar-text {
  color: #fff;;
  margin-left: 0;
   a {
    color: inherit;
    text-decoration: none;
  }
}

.navbar-inverse {
  background-color: #222;
}

.parallax > .footer {
  position: fixed;
  height: 154px;
  bottom: -1050px;
}
